.notification-danger {
  color: rgb(85, 8, 8);
  background: rgb(240, 143, 143);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.notification-success {
    color: rgb(3, 51, 25);
    background: rgb(31, 233, 172);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
